﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits ="Chai.Maintenance.Modules.Report.Views.ReportDefault"
    Title="Default" MasterPageFile="~/Shared/ModuleMaster.master" %>
<asp:Content ID="content" ContentPlaceHolderID="DefaultContent" Runat="Server">
		<h1>Report</h1>
</asp:Content>

