﻿.watermark
{
     background:#FFAAFF;
}
.popupControl
{
    background-color:#AAD4FF;
    position:absolute;
     visibility:hidden;
     border-style:solid;
     border-color:Black;
      border-width:2px
}
.modalBackground
{
    background-color:Gray;
     filter:alpha(opacity=70);
     opacity:0.7;
}

.modalPopup
{
    border: 3px solid Gray;
    background-color:#E2DED6;
    padding:3px;
    width:853px;
}