﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ModuleNavigation.ascx.cs" Inherits="Chai.Maintenance.Modules.Shell.Views.ModuleNavigation" %>

<asp:PlaceHolder ID="plhNavigation" runat="server"></asp:PlaceHolder>
<%--<asp:Repeater ID="rptPanel" runat="server" 
    onitemdatabound="rptPanel_ItemDataBound">
    <ItemTemplate>--%>
      
                        <asp:Literal ID="ltrTitle" runat="server" />
            

		
                  
                <asp:PlaceHolder ID="plhNode" runat="server"></asp:PlaceHolder>
           
  <%--  </ItemTemplate>
</asp:Repeater>--%>