﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NodeNavigation.ascx.cs"
    Inherits="Chai.Maintenance.Modules.Shell.Views.NodeNavigation" %>
   
<asp:Repeater ID="rptPanel" runat="server" 
    onitemdatabound="rptPanel_ItemDataBound">
    <ItemTemplate>
      
                        <asp:Literal ID="ltrTitle" runat="server" />
            

		
                  
                <asp:PlaceHolder ID="plhNode" runat="server"></asp:PlaceHolder>
           
    </ItemTemplate>
</asp:Repeater>

