﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RMessageBox.ascx.cs" Inherits="Chai.Maintenance.Modules.Shell.Views.RMessageBox" %>

<asp:Panel ID="panMessage" runat="server" >
    <asp:Image ID="imgIcon" runat="server" ImageAlign="AbsMiddle" />
    <asp:Literal ID="ltrMessage" runat="server" />
</asp:Panel>

