﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits ="Chai.Maintenance.Modules.Admin.Views.AdminDefault"
    Title="Default" MasterPageFile="~/Shared/AdminMaster.master" %>
    <asp:Content ID="content1" ContentPlaceHolderID="MenuContent" runat="Server">
</asp:Content>
<asp:Content ID="content" ContentPlaceHolderID="DefaultContent" Runat="Server">
		<h1>Administrator</h1>
</asp:Content>

