﻿<%@ control language="C#" autoeventwireup="true" inherits="Chai.Maintenance.Modules.Shell.Views.ModuleNavigation, App_Web_yhv4hnub" %>

<asp:PlaceHolder ID="plhNavigation" runat="server"></asp:PlaceHolder>
