﻿<%@ page language="C#" autoeventwireup="true" inherits="Chai.Maintenance.Modules.Report.Views.ReportDefault, App_Web_jzrke3zq" title="Default" masterpagefile="~/Shared/ModuleMaster.master" stylesheettheme="Default" %>
<asp:Content ID="content" ContentPlaceHolderID="DefaultContent" Runat="Server">
		<h1>Report</h1>
</asp:Content>

