﻿.textbox {
	background-image:url(../images/txtbox_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}
.textboxDescLong {
	background-image:url(../images/txtbox_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 400px;
	height: 38px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;

}
.textboxDescShort {
	background-image:url(../images/txtbox_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 275px;
	height: 38px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;

}
.label {

	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
	font-size:small;
}