body{font:13px/1.5 "Trebuchet MS", Arial, Helvetica, sans-serif}a:focus{outline:1px dotted invert}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:0px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}
.plogo{
   color: #fff;
    font-size: 16px;
    padding: 0 0 0 0px;
    text-transform: none;
	margin:0 0 0 0px;
}
.grid_logo{
	width:637px;
	   color: white;
    font-size: 22px;
    font-weight: normal;
   
	float:left;
	margin:0 0 0 0px;
	padding:0 0 0 0px;
}