﻿<%@ page language="C#" autoeventwireup="true" inherits="Chai.Maintenance.Modules.SparepartInventory.Views.Default, App_Web_nuwe21ns" title="Default" masterpagefile="~/Shared/ModuleMaster.master" stylesheettheme="Default" %>
<%@ Register assembly="Chai.Maintenance.ServerControls" namespace="Chai.Maintenance.ServerControls" tagprefix="cc1" %>

<asp:Content ID="content" ContentPlaceHolderID="DefaultContent" Runat="Server">
        <h1>Sparepart Inventory</h1>
            
        <br />
</asp:Content>

