﻿body
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana;
	color: Black;
	background-color: Silver;
}

/******************
Layout Divs
******************/

#mainwrapper
{
	margin: 5px 30px  5px 30px;
	text-align: left;
}

#header-container
{
	height: 60px;
	background: #FFFFFF url(Images/bg_header.png) no-repeat;
	background-position: left top
}

#module-container
{
	padding-top: 6px;
	padding-left: 250px;
	background: #FFFFFF url(Images/bg_footer.png);
}

#footer-container
{
	height: 25px;
	padding-left: 50px;
	padding-top: 4px;
	font-size: .8em;
	background: #FFFFFF url(Images/bg_footer.png);
    text-align: center;
}

/******************
Header
******************/
#header-options
{
	position: absolute;
	left: 600px;
	top: 4px;
	z-index: 1000;
	text-align: right;
}
#loginImage
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	background-image: url(Images/login.png);
	background-repeat: no-repeat;
	vertical-align: bottom;
	padding-right: 4px;
}

#loginText
{
	position: absolute;
	top: 24px;
	left: 0px;
	font-family: Verdana;
	font-size: 8pt;
	color: white;
}

.headerLink
{
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
	color: white;
	z-index: 2000;
}

#helpImage
{
	position: absolute;
	top: 0px;
	left: 40px;
	width: 24px;
	height: 24px;
	z-index: 1000;
	vertical-align: bottom;
	padding-right: 4px;
	background-image: url(Images/help.png);
	background-repeat: no-repeat;
}

#helpText
{
	position: absolute;
	top: 24px;
	left: 40px;
	font-family: Verdana;
	font-size: 8pt;
	color: white;
}

/******************
Content
******************/

#content-container
{
	min-height: 460px;
	height: auto;
	height: 460px;
	padding: 40px 10px 10px 10px;
	background-image:  url(Images/bgContent.gif);
	background-repeat: repeat;
	font-size: .8em;
}


/******************
Module master styles
******************/

#content
{
	width: 100%;
	min-height: 400px;
	/*background-image: url(Images/bgContent.gif);
	background-repeat: repeat;*/
	background-color: #0066CC;
	
}

#content-left
{
	
	padding-top: 14px;
	height: 300px;
	width: 250px;
	color: Black;
	background-color: #ddd;
	vertical-align: top;
}

#content-right
{
	padding-top: 14px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 14px;
	color: Black;
	background-color: White;
	vertical-align: top;
}
#moduleContentFooter
{
	height: 7px;
	background: url(Images/moduleContentFooter.png) no-repeat;
}

/******************
Public master styles
******************/

#publicContentHeader
{
	height: 24px;
	background: url(Images/publicContentHeader.gif) no-repeat;
}

#publicContentContent
{
	padding: 14px;
	color: Black;
	background-color: White;
}

#publicContentFooter
{
	height: 24px;
	background: url(Images/publicContentFooter.gif) no-repeat;
}

/******************
Login
******************/

#loginBox
{
	padding-top: 30px;
	padding-left: 30px;
}
.loginTextbox
{
	color: #000;
	text-indent: 3px;
	border: solid 1px black;
	height: 18px;
	margin-right: 2px;
	width: 110px;
}
.loginLabel
{
	font-family: Corbel, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: Black;
}

#loginGoButton
{
	padding-top: 6px;
	padding-left: 6px;
}
#loginHelp
{
	padding-top: 140px;
	color: #b2cfe6;
}

#enterSite
{
	margin-top: 80px;
	text-align: center;
	padding-top: 6px;
	padding-left: 6px;
}

/******************
Footer
******************/

.footerCompanyName
{
	color: #b2cfe6;
}
.footerLink
{
	padding-left: 40px;
	font-family: Verdana;
	text-decoration: none;
	color: white;
}

/******************
Grids
******************/

.sectionHeader
{
	color: Black;
	font-size: .9em;
}

.grid
{
	border: none;
	border-style: none;
	border-width: 0px;
	font-size: .9em;
	width: 96%;
}

.gridHeader
{
	background-color: White;
	color: #b2cfe6;
	font-weight: bold;
	padding-right: 14px;
	text-align: left;
}
.gridRow
{
	background-color: white;
}

.gridAltRow
{
	background-color: #E6F0F8;
}

.gridEditRow
{
	background-color: white;
}

.editDropDown
{
}

.editTextBox
{
	width: 60px;
}

/******************
New Transfer
******************/

.newTransferHeader
{
	color: black;
	font-weight: normal;
	padding-right: 2px;
	text-align: right;
}

#newTransferButtons
{
	margin-top: 20px;
	margin-left: 86px;
}

#globalmenu
{
	color: #fff;
}

#globalmenu ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}

#globalmenu li
{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 1px;
}

#globalmenu a
{
	display: inline;
	font-size: 95%;
	font-weight: bold;
	background-color: #ddd;
	color: #333;
	padding: 4px;
	border: 1px solid #ddd;
	width: 100%;
	text-decoration: none;
}

#globalmenu a:hover
{
	color: #333;
	background-color: #FF9900;
	text-decoration: none;
}
#globalmenu .activetab
{
	background-color: #FF9900;
}

.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
table.tbl
{	
	color: #333333;
	border-collapse: collapse;
}

table.tbl th
{
	color: #333333;
	background-color: #EEEEEE;
	font-size: 8pt;
	font-weight: bold;
	border-right: solid 1px #FFFFFF;
	border-bottom: solid 1px #CCCCCC;
	padding: 4px;
}

table.tbl td
{
	font-size: 8pt;
	border-bottom: 1px solid #EEEEEE;
	padding: 3px;

}

table.tbl a
{
	padding-left: 5px;
	padding-right: 5px;
}
.group
{
	position: relative;
	margin: 10px 0px 20px 0px;
	border: dashed 1px #CCCCCC;
	padding: 10px 5px 5px 5px;
}

.group h4
{
	margin: 0;
	position: absolute;
	top: -7px;
	padding: 0 4px 0 2px;
	background: #FFFFFF;
	font-size: 100%;
	color: #333333;
	white-space: nowrap;
	border-width: 0;
}

.group h5
{
	margin: 0;
	padding: 0 4px 0 2px;
	font-size: 100%;
	color: #666666;
}

.group td
{
	font-size: 8pt;
	line-height: 21px;
}

.group ul
{
	margin: 0;
	padding: 2;
}

.group li
{
	list-style-type: none;
	display: inline; 
	margin: 0;
}
.section 
{
    background-color:#EFF1FC;
    width:100%;
    font-weight:normal;
	outline:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:3px 3px 3px 3px;
	border:1px solid #ccc;
}

.section h4
{
    
    background: url("../Images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #5C9CCC;
    padding-top:-10px;
    border: 1px solid #4297D7;
    color: #FFFFFF;
    margin-top:7px;
}