﻿<%@ page language="C#" autoeventwireup="true" inherits="Chai.Maintenance.Modules.Admin.Views.AdminDefault, App_Web_mefkcnti" title="Default" masterpagefile="~/Shared/AdminMaster.master" stylesheettheme="Default" %>
<asp:Content ID="content" ContentPlaceHolderID="DefaultContent" Runat="Server">
		<h1>Administrator</h1>
</asp:Content>

