﻿
p, div
{
	font-family: Arial, Helvetica;
	font-size: 8pt;
	color: #333333;
    text-align: left;
}

h1
{
	font-family: Arial, Helvetica;
	font-size: 12pt;
	font-weight: bold;
	background-color: #EEEEEE;
	border-bottom: solid 1px #CCCCCC;
	padding: 1px;
}

a
{
	color: #3333CC
}

input, select, textarea
{
	font-size: x-small;
	margin-left: 0px;
	margin-right: 0px;
	padding: 1px;
    }

.navsection
{
	margin: 2px;
	padding: 2px;
	border: solid 1px #CCCCCC;
}

.navsection h3
{
	padding: 2px;
	margin: 0;
	background-color: Navy;
	font-size: 100%;
	font-weight: bold;
	color: #FFFFFF;
}

.site
{
	padding: 2px;
	font-weight: bold;
}

.node
{
	padding: 2px;
}

.nodeLink
{
	padding: 2px;
	color: #333333;
}

.nodeActive
{
	padding: 1px;
	border: solid 1px #CCCCCC;
	background-color: #EEEEEE;
}

.group
{
	position: relative;
	margin: 10px 0px 20px 0px;
	border: solid 1px #000;
	padding: 10px 5px 5px 5px;
}

.group h4
{
	margin: 0;
	position: absolute;
	top: -7px;
	padding: 0 4px 0 2px;
	background: #FFFFFF;
	font-size: 100%;
	color: #333333;
	white-space: nowrap;
	border-width: 0;
}

.group h5
{
	margin: 0;
	padding: 0 4px 0 2px;
	font-size: 100%;
	color: #666666;
}

.group td
{
	font-size: 8pt;
	line-height: 21px;
}

.group ul
{
	margin: 0;
	padding: 2;
}

.group li
{
	list-style-type: none;
	display: inline; 
	margin: 0;
}

.validator
{
	color: #CC0000;
}

.messagebox
{
	padding: 4px;
	background-color: #EEEEEE;
	color: #006600;
	border: solid 1px #CCCCCC;
	font-weight: bold;
}

.errorbox
{
	padding: 4px;
	background-color: #EEEEEE;
	color: #CC0000;
	border: solid 1px #CCCCCC;
	font-weight: bold;
}

.pager
{
	font-size: 120%;
}

.pager a
{
	margin-left: 5px;
	margin-right: 5px;
}

table.tbl
{	
	color: #333333;
	border-collapse: collapse;
}

table.tbl th
{
	color: #333333;
	background-color: #EEEEEE;
	font-size: 8pt;
	font-weight: bold;
	border-right: solid 1px #FFFFFF;
	border-bottom: solid 1px #CCCCCC;
	padding: 4px;
}

table.tbl td
{
	font-size: 8pt;
	border-bottom: 1px solid #EEEEEE;
	padding: 3px;

}

table.tbl a
{
	padding-left: 5px;
	padding-right: 5px;
}

#header
{
	padding: 5px;
	background-color: #8CA7BB;
	height: 35px;
}

#headertitle
{
	float: left;
	width: 300px;
	padding:5px;
	font-size: 14pt;
	color: #FFFFFF;
}

#headeruser
{
	float: right;
	width: 200px;
}

#subheader
{
	background-color: #000000;
	color: #FFFFFF;
	text-align: right;
	font-weight: bold;
}

#subheader a
{
	color: #FFFFFF;
	text-decoration: none;
}

#menupane
{
	float: left;
	width: 25%;
	margin: -8px 5px 5px 5px;
	padding: 3px;
	background-color: #FFFFFF;
	border: solid 1px #CCCCCC;	
}

#contentpane
{
	margin: 10px 10px 10px 27%;
	padding: 10px;
	background-color: #FFFFFF;
}

#moduleadminpane
{
	margin: 10px;
	padding: 10px;
	background-color: #FFFFFF;
}

#login
{
	background-color: #FFFFFF;
	margin: 2px;
	padding: 2px;
	border: outset 1px;
	width: 230px;
	position: absolute;
	top: 30%;
	left: 40%;
}

#login h3
{
	padding: 1px;
	margin: 0;
	background-color: #000066;
	font-size: 100%;
	font-weight: bold;
	color: #FFFFFF;
}

#login td
{
	font-size: 8pt;
}

#nav
{
	background-color: #fff;
	border: 0;
	padding: 3px;
}

#nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li
{
	margin-top: 1px;
}

#nav a
{
	display: block;
	font-size: 90%;
	color: #333;
	padding: 4px;
	border-left: solid 10px #ddd;
	border-bottom: 1px dashed #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 200px;
}

#nav a:hover
{
	color: #333;
	background-color: #f9f9f9;
	text-decoration: none;
	border-left: solid 10px #900;
}
