﻿<%@ page language="C#" autoeventwireup="true" inherits="Chai.Maintenance.Modules.Configuration.Views.ConfigurationDefault, App_Web_ap4qmzsw" title="Default" masterpagefile="~/Shared/ModuleMaster.master" stylesheettheme="Default" %>
<asp:Content ID="content" ContentPlaceHolderID="DefaultContent" Runat="Server">
		<h1>Configuration</h1>
</asp:Content>

