﻿<%@ page title="" language="C#" masterpagefile="~/Shared/ModuleMaster.master" autoeventwireup="true" inherits="Chai.Maintenance.Modules.Configuration.Views.UnitOfMeasurmentEdit, App_Web_ap4qmzsw" stylesheettheme="Default" %>
<%@ MasterType TypeName="Chai.Maintenance.Modules.Shell.BaseMaster" %>

<asp:Content ID="Content2" ContentPlaceHolderID="DefaultContent" Runat="Server">



    <asp:ValidationSummary ID="vlsummery" runat="server" ValidationGroup="1" 
        HeaderText="Error Message" />
    <asp:Panel ID="Panel2" runat="server" CssClass="group">
    <h4><asp:Label ID="Label1" runat="server" Text="Unit Of Measurement" 
            CssClass="label"></asp:Label></h4>
    
    
    <table  style="width: 100%">
    <tr>
    <td>
        <asp:Label ID="lblUOM" runat="server" Text="Unit Of Measurement" 
            CssClass="label"></asp:Label>
        </td>

    <td>
        <asp:TextBox ID="txtUOM" runat="server" ValidationGroup="1" CssClass="textbox"></asp:TextBox>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
            Display="Dynamic" ErrorMessage="Unit Of Measurement Required" 
            ValidationGroup="1" ControlToValidate="txtUOM">*</asp:RequiredFieldValidator>
        </td>
    </tr>
     <tr>
    <td>
        <asp:Label ID="Label3" runat="server" Text="Description" CssClass="label"></asp:Label>
         </td>

    <td>
        <asp:TextBox ID="txtDescription" runat="server" TextMode="MultiLine" 
            CssClass="textboxDescShort"></asp:TextBox>
         </td>
    </tr>
    </table>
    
   <br />
    <asp:Button ID="btnSave" runat="server" onclick="btnSave_Click" Text="Save" 
        ValidationGroup="1" />
    <asp:Button ID="btnCancel" runat="server" Text="Cancel" 
        onclick="btnCancel_Click" />
    <asp:Button ID="btnDelete" runat="server" Text="Delete" 
        onclick="btnDelete_Click" />
</asp:Panel>

    

</asp:Content>