﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits ="Chai.Maintenance.Modules.Configuration.Views.ConfigurationDefault"
    Title="Default" MasterPageFile="~/Shared/ModuleMaster.master" %>
<asp:Content ID="content" ContentPlaceHolderID="DefaultContent" Runat="Server">
		<h1>Configuration</h1>
</asp:Content>

